*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131415;
    padding: 1rem;
}

ul a {
    color:white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 100px;
}