*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    
    background-color: #2cbaf6;
    padding: 1rem;
    
}

body{
background-color: white;
}

ul a {
    color:white;
    text-decoration: none;
   text-align: center;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 100px;
}